.new_title {
  margin-top: -25px;
  text-align: center;
  font-size: 130px;
  font-family: "Art";
  -webkit-text-stroke: 3px rgb(255, 255, 216);
}
.news_layout {
  margin: 0 auto;
  width: 1400px;
  height: 600px;
  display: flex;
  justify-content: space-around;
  /* background-color: aqua; */
}
.new_img {
  margin-top: 30px;
  width: 90%;
}
.new_text {
  width: 90%;
  height: 250px;
  background-color: rgb(240, 240, 238);
}
.new_pc {
  width: 400px;
  height: 30px;
  padding: 40px 20px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.new_pc1 {
  width: 70px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #c58626;
  color: #c58626;
  border-radius: 4px;
}
.new_pc2 {
  width: 70px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  padding-top: 2px;
  border: 1px solid#777;
  color: #777;
  border-radius: 4px;
}
h2 {
  margin-left: 20px;
}
.new_p {
  margin: 10px 20px;
  font-size: 14px;
  color: #969696;
}
