@font-face {
  font-family: "Art";
  font-weight: normal;
  src: url("../../fonts/HeadlinerNo.45\ DEMO.ttf") format("truetype");
}

.newH1 {
  width: 15%;
  margin: 150px auto 150px;
  font-size: 130px;
  font-family: "Art";
  -webkit-text-stroke: 3px rgb(255, 255, 216);
}

.sliderBox {
  width: 95%;
  margin: 0 auto;
  padding-left: 50px;
}
.slide {
  opacity: 0.7;
  transform: scale(0.8);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

.activeSlide {
  transform: scale(1);
  transition: transform 0.5s ease, opacity 0.5s ease;
}

/* Arrow styling */
.nextArrow,
.prevArrow {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  cursor: pointer;
  z-index: 1;
  font-size: 50px;
  color: wheat;
}
.nextArrow {
  right: 10px;
}
.prevArrow {
  left: 10px;
}

.news_lay {
  width: 400px;
  height: 500px;
  background-color: #ffffff;
}
.new_img {
  width: 100%;
  height: 250px;
}
.new_pc {
  width: 400px;
  height: 30px;
  padding: 40px 30px;
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 40px;
}
.new_pc1 {
  width: 70px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  line-height: 20px;
  border: 1px solid #c58626;
  color: #c58626;
  border-radius: 4px;
}
.new_pc2 {
  width: 70px;
  height: 25px;
  font-size: 13px;
  text-align: center;
  padding-top: 2px;
  border: 1px solid #777;
  color: #777;
  border-radius: 4px;
}

.news_p {
  color: #868686;
  font-size: 14px;
  margin: 20px 30px;
}

h2 {
  margin-left: 30px;
}

@media screen and (max-width: 1070px) {
  .news_lay {
    margin-left: 25%;
  }
}

@media screen and (max-width: 970px) {
  .news_lay {
    margin-left: 20%;
  }
}

@media screen and (max-width: 770px) {
  .news_lay {
    margin-left: 12%;
  }
  .nextArrow,
  .prevArrow {
    display: none;
  }
}

@media screen and (max-width: 670px) {
  .news_lay {
    margin-left: 5%;
  }

  .nextArrow,
  .prevArrow {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .news_lay {
    margin-left: 2%;
  }

  .nextArrow,
  .prevArrow {
    display: none;
  }
}
